<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>项目已建立配置库</title>
    <style>
        body {
            text-align: left;
            margin-left: auto;
            margin-right: auto;
        }
        #welcome {
            text-align: left;
        }
    </style>
</head>
<body>
<div id="welcome">
    <p>
        亲爱的项目经理
        <span th:text="${user}"></span>
        :
    </p>
    <p>
        您的项目
        <span th:text="${project_name}"></span>
        已由组织级配置管理员
        <!--/*@thymesVar id="org_config" type="java.lang.String"*/-->
        <span th:text="${org_config}"></span>
        建立配置库。可以为项目导入成员并配置权限。
    </p>
</div>
</body>
</html>