<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>请进行风险跟踪</title>
    <style>
        body {
            text-align: left;
            margin-left: auto;
            margin-right: auto;
        }
        #welcome {
            text-align: left;
        }
    </style>
</head>
<body>
<div id="welcome">
    <p>
        亲爱的
        <span th:text="${user}"></span>
        :
    </p>
    <p>
        请注意为与您相关的项目风险进行风险跟踪。
    </p>
    <p>
        风险列表：
    </p>

    <table style="withd:600px" border="1">
        <thead>
        <tr>
            <th>项目ID</th>
            <th>风险ID</th>
            <th>风险描述</th>
            <th>类型</th>
            <th>状态</th>
            <th>责任人</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="risks" type="com.ecnu.achieveit.modelview.RiskView"*/-->
        <tr th:each="risk : ${risks}">
            <td th:text="${risk.projectId}"></td>
            <td th:text="${risk.riskId}"></td>
            <td th:text="${risk.description}"></td>
            <td th:text="${risk.type}"></td>
            <td th:text="${risk.state}"></td>
            <td th:text="${risk.owner}"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>