<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecnu.achieveit.dao.AssetItemMapper">
  <resultMap id="BaseResultMap" type="com.ecnu.achieveit.model.AssetItem">
    <id column="asset_item" jdbcType="VARCHAR" property="assetItem" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from assets
    where asset_item = #{assetItem,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="asset_item" keyProperty="assetItem" parameterType="com.ecnu.achieveit.model.AssetItem" useGeneratedKeys="true">
    insert into assets ()
    values ()
  </insert>
  <insert id="insertSelective" keyColumn="asset_item" keyProperty="assetItem" parameterType="com.ecnu.achieveit.model.AssetItem" useGeneratedKeys="true">
    insert into assets
    <trim prefix="(" suffix=")" suffixOverrides="," />
    <trim prefix="values (" suffix=")" suffixOverrides="," />
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT *
    FROM assets
  </select>
</mapper>