<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecnu.achieveit.dao.TimesheetMapper">
  <resultMap id="BaseResultMap" type="com.ecnu.achieveit.model.Timesheet">
    <id column="timesheet_id" jdbcType="INTEGER" property="timesheetId" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="employee_id" jdbcType="VARCHAR" property="employeeId" />
    <result column="primary_function" jdbcType="VARCHAR" property="primaryFunction" />
    <result column="secondary_function" jdbcType="VARCHAR" property="secondaryFunction" />
    <result column="primary_activity" jdbcType="VARCHAR" property="primaryActivity" />
    <result column="secondary_activity" jdbcType="VARCHAR" property="secondaryActivity" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="start_time" jdbcType="TIME" property="startTime" />
    <result column="end_time" jdbcType="TIME" property="endTime" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    timesheet_id, project_id, employee_id, primary_function, secondary_function, primary_activity,
    secondary_activity, `date`, start_time, end_time, `state`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from timesheet
    where timesheet_id = #{timesheetId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from timesheet
    where timesheet_id = #{timesheetId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="timesheet_id" keyProperty="timesheetId" parameterType="com.ecnu.achieveit.model.Timesheet" useGeneratedKeys="true">
    insert into timesheet (project_id, employee_id, primary_function, 
      secondary_function, primary_activity, secondary_activity,
      `date`, start_time, end_time, `state`
      )
    values (#{projectId,jdbcType=VARCHAR}, #{employeeId,jdbcType=VARCHAR}, #{primaryFunction,jdbcType=VARCHAR}, 
      #{secondaryFunction,jdbcType=VARCHAR}, #{primaryActivity,jdbcType=VARCHAR}, #{secondaryActivity,jdbcType=VARCHAR},
      #{date,jdbcType=DATE}, #{startTime,jdbcType=TIME}, #{endTime,jdbcType=TIME}, #{state,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="timesheet_id" keyProperty="timesheetId" parameterType="com.ecnu.achieveit.model.Timesheet" useGeneratedKeys="true">
    insert into timesheet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        project_id,
      </if>
      <if test="employeeId != null">
        employee_id,
      </if>
      <if test="primaryFunction != null">
        primary_function,
      </if>
      <if test="secondaryFunction != null">
        secondary_function,
      </if>
      <if test="primaryActivity != null">
        primary_activity,
      </if>
      <if test="secondaryActivity != null">
        secondary_activity,
      </if>
      <if test="date != null">
        `date`,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="state != null">
        `state`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null">
        #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="primaryFunction != null">
        #{primaryFunction,jdbcType=VARCHAR},
      </if>
      <if test="secondaryFunction != null">
        #{secondaryFunction,jdbcType=VARCHAR},
      </if>
      <if test="primaryActivity != null">
        #{primaryActivity,jdbcType=VARCHAR},
      </if>
      <if test="secondaryActivity != null">
        #{secondaryActivity,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIME},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIME},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecnu.achieveit.model.Timesheet">
    update timesheet
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null">
        employee_id = #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="primaryFunction != null">
        primary_function = #{primaryFunction,jdbcType=VARCHAR},
      </if>
      <if test="secondaryFunction != null">
        secondary_function = #{secondaryFunction,jdbcType=VARCHAR},
      </if>
      <if test="primaryActivity != null">
        primary_activity = #{primaryActivity,jdbcType=VARCHAR},
      </if>
      <if test="secondaryActivity != null">
        secondary_activity = #{secondaryActivity,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        `date` = #{date,jdbcType=DATE},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIME},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIME},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where timesheet_id = #{timesheetId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecnu.achieveit.model.Timesheet">
    update timesheet
    set project_id = #{projectId,jdbcType=VARCHAR},
      employee_id = #{employeeId,jdbcType=VARCHAR},
      primary_function = #{primaryFunction,jdbcType=VARCHAR},
      secondary_function = #{secondaryFunction,jdbcType=VARCHAR},
      primary_activity = #{primaryActivity,jdbcType=VARCHAR},
      secondary_activity = #{secondaryActivity,jdbcType=VARCHAR},
      `date` = #{date,jdbcType=DATE},
      start_time = #{startTime,jdbcType=TIME},
      end_time = #{endTime,jdbcType=TIME},
      `state` = #{state,jdbcType=VARCHAR}
    where timesheet_id = #{timesheetId,jdbcType=INTEGER}
  </update>

  <select id="selectTimesheetByBossId" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM timesheet
    WHERE timesheet_id IN (SELECT timesheet_id FROM timesheet a,project_member b WhERE a.employee_id = b.employee_id
        AND b.boss_in_project_id = #{bossId,jdbcType = VARCHAR} AND state="已提交" )
  </select>
  <select id="selectIimesheetByEmployeeId" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT *
    FROM timesheet
    WHERE employee_id = #{employeeId,jdbcType=VARCHAR}
  </select>

  <select id="selectPrimaryFunctionByProjectId" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT DISTINCT primary_function
    FROM project_function
    WHERE project_id = #{projectId,jdbcType=VARCHAR}
  </select>
  <select id="selectSecondaryFunctionByProjectIdAndPrimaryFunction" resultType="java.lang.String">
    SELECT DISTINCT secondary_function
    FROM project_function
    WHERE project_id = #{projectId,jdbcType=VARCHAR} AND primary_function = #{primaryFunction,jdbcType=VARCHAR}
  </select>
  <select id="selectAllPrimaryActivity" resultType="java.lang.String">
    SELECT DISTINCT primary_activity
    FROM activity
  </select>
  <select id="selectSecondaryActivityByPrimaryActivity" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT DISTINCT secondary_activity
    FROM activity
    WHERE primary_activity = #{primaryActivity,jdbcType=VARCHAR}
  </select>
  <update id="updateStateByTimesheetId" >
    UPDATE timesheet
    SET state = #{state,jdbcType=VARCHAR}
    WHERE timesheet_id = #{timesheetId,jdbcType=VARCHAR}
  </update>
</mapper>